<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/screen.css">
			<link rel="stylesheet" type="text/css" href="/css/syntax.css">
		</head>
		<body>
			<div class="site">
				<div class="title">
					<a href="/">Bo-SHI</a>
					<a class="extra" href="/">home</a>
				</div><!--/.title-->

				{{ content }}

				<div class="footer">
					<div class="contact">
		      	<p>
		        	<a href="http://github.com/bo-shi/">github.com/bo-shi</a><br />
							<a href="mailto:bobshisoldier@gmail.com">email</a>
		      	</p>
		    	</div>
				</div><!--/.footer-->

			</div><!--/.site-->

			<br /><br />
		</body>
	</html>
